<div id="<%= dom_id project %>">
    <p>
      <strong>Project name:</strong>
      <%= project.project_name %>
      
    </p>  

    <tr>
      <strong>Description:</strong>
      <%= project.description %>
    </tr>  

</div>
